workflows/n8n_research_flow.json
{
  "name": "Deep Research Agent Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-research",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/research",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$json.body.query}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Call FastAPI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4o",
        "prompt": "Summarize the research findings received from the agent: {{$json.answer}}",
        "options": {}
      },
      "id": "3",
      "name": "Post-Process Synthesis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "Research Complete: {{$json.choices[0].message.content}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call FastAPI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI Agent": {
      "main": [
        [
          {
            "node": "Post-Process Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Process Synthesis": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
